@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans Mono", monospace;
  letter-spacing: 1.3px;
}
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-image: url("../src/assets/Text-Her-at-Night.webp");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}
#root {
  height: 100vh;
}
.App {
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
  align-items: center;
  height: 90vh;
}
.heading {
  text-align: center;
  align-self: flex-start;
  margin-bottom: 0;
}

.videos {
  position: relative;
  height: 85vh;
  width: 100vw;
  margin: auto;
  align-self: flex-start;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
  justify-items: center;
  align-items: center;
}

.vid {
  position: relative;
  background-color: black;
  height: 95%;
  width: 95%;
  border-width: 1px;
  border-color: #38373a;
  border-style: solid;
}

.controls {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  margin: -20px auto;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  align-items: center;
  justify-items: center;
  z-index: 1;
  width: 500px;
  max-width: 60vw;
}

.controls p {
  padding: 10px;
  cursor: pointer;
  background: #38373a;
  color: #f7f7f7;
  border-width: 1px;
  border-color: #f7f7f7;
  border-style: solid;
}

.controls p.on {
  background: #f7f7f7;
  color: #38373a;
  border-width: 1px;
  border-color: #38373a;
  border-style: solid;
}
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #38373a;
}

::-webkit-scrollbar-thumb {
  background: #38373a;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
