.personal-profile-main {
  position: relative;
  left: 100px;
  bottom: 5em;
  width: 192.04px;
  padding: 15px;
  z-index: 10;
  border-radius: 12px;
  background-color: rgba(37, 35, 41, 1);
}
.tweeter {
  display: flex;
  justify-content: space-around;
  padding: 1em;
  margin-bottom: 0.2em;
  color: white;
  cursor: pointer;
}
.tweeter > p {
  margin-left: 0.3em;
  white-space: nowrap;
}
.tweeter:hover {
  border-radius: 8px;
  background-color: rgba(60, 57, 63, 1);
}
.profile-icon {
  font-size: 21px;
  margin-right: 0.2em;
}
.logout-section {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  font-weight: 900;
  color: rgba(235, 87, 87, 1);
  cursor: pointer;
}
.logout-section:hover {
  padding: 1em;
  background-color: rgba(60, 57, 63, 1);
  border-radius: 8px;
}
.logout-icon {
  color: rgba(235, 87, 87, 1);
  font-size: 23px;
}
