.modifiedUIContainer {
  display: flex;
  background-color: white;
}
.Signup-main {
  width: 50%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-inline: auto;
  padding: 2em 1em 2em 1em;

  border-radius: 24px;
}
img {
  object-fit: cover;
}
.logo-div {
  display: flex;
  margin-bottom: 0.8em;
}
.logo-div > h2 {
  text-align: left;
}
.logo-div > img {
  width: 100px;
  border-radius: 50%;
  margin-right: 0.4em;
}

.signup-text-section > h1 {
  font-size: 24px;
  opacity: 0.7;
  margin-bottom: 1em;
}
.signup-text-section > h2 {
  font-size: 17px;
  margin-bottom: 1.7em;
  opacity: 0.3;
}
.form form label {
  display: flex;
  justify-content: flex-start;
}
.input-icon {
  position: absolute;
  margin-top: 22.9px;
  margin-left: 0.5rem;
  font-size: 1.2rem;
  color: gray;
}
.input-container:first-child {
  margin-top: 2em;
}
.input-container > input {
  width: 100%;
  height: 48px;
  background: transparent;
  margin-bottom: 0.6em;
  margin-top: 0.6em;
  border-radius: 8px;
  border: 1px solid rgba(189, 189, 189, 1);
  padding-left: 32px;
}
.signinwithgoogle {
  margin-top: 1em;
  width: 100%;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid black;
  padding: 0.4rem;
}
.signinwithgoogle > img {
  width: 40px;
  margin-left: 0.8rem;
  border-radius: 2rem;
  cursor: pointer;
}
.signinwithgoogle > p {
  align-self: center;
  text-align: center;
  justify-content: center;
  margin-left: 0.8rem;
  cursor: pointer;
}
.signup-btn {
  background-color: black;
  border: none;
  color: white;
  margin-top: 0.7rem;
  width: 100%;
  font-size: 18px;
  height: 48px;
  border-radius: 12px;
}
.login-section {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  color: black;
}
.login-section p a {
  margin-left: 0.5rem;
}

.input-container {
  margin-bottom: 1.8rem;
}
label {
  font-weight: 700;
}

@media screen and (max-width: 1078px) {
  .logo-div {
    display: flex;
    justify-content: center;
  }
  .logo-div > h2 {
    text-align: center;
  }
  .modifiedUIContainer {
    flex-direction: column;
  }
  .Signup-main {
    min-width: 300px;
    text-align: center;
    width: 90%;
  }
  .signinwithgoogle {
    width: 90%;
  }
}
