.welcome-channel-main {
  overflow-y: auto;
}
.welcome-header {
  width: 100%;
  height: 59.49px;
  background-color: rgba(37, 35, 41, 1);
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: white;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  align-items: center;
  padding-left: 2em;
}
.welcome-comments {
  display: flex;
  margin-top: 2em;
  margin-left: 1em;
}
.welcome-name-div {
  display: grid;
  margin-left: 0.6em;
}
.welcome-name-div > div {
  display: flex;
}
.welcome-name-div > div > p:first-child {
  color: #25d366;
  font-size: 18px;
  font-weight: 700;
  margin-right: 0.6em;
}
.welcome-name-div > div > p:last-child {
  font-size: 14px;
  color: rgba(130, 130, 130, 1);
  line-height: 20px;
  margin-top: 0.18em;
}
.person-icon {
  align-self: start;
  font-size: 1.8rem;
  color: gray;
}
.welcome-name-div > h1 {
  font-size: 18px;
  color: rgba(224, 224, 224, 1);
  margin-top: 0.8em;
}
.input-search {
  display: flex;
  justify-content: center;
}
.input-search > input {
  width: 95%;
  border-radius: 8px;
  background: rgba(60, 57, 63, 1);
  border: none;
  height: 53px;
  padding-left: 1em;
  margin-top: 2.7em;
  bottom: 10px;
  color: white;
  display: flex;
  padding: 1em;
  align-items: center;
  margin-left: 2.5em;
  position: sticky;
}
.send-channel-div {
  position: relative;
  top: 40px;
  right: 45px;
  width: 39.33667755126953px;
  height: 39.33667755126953px;
  border-radius: 8px;
  background-color: rgba(47, 128, 237, 1);
}
.send-channel-message {
  display: flex;
  margin-inline: auto;
  margin-top: 12px;
  color: white;
}
@media screen and (max-width: 678px) {
  .welcome-name-div > h1 {
    font-size: 15px;
  }
  .person-icon {
    display: flex;
    align-items: start;
    font-size: 80px;
  }
}
